.bicicleta-lista{
  padding-top: 60px;
  padding-bottom: 120px;
}

.bicicleta-lista h2{
  margin-bottom: 40px;
}

.bicicleta-lista ul{
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px; /*Se há 'max-width' sempre deve ter as margin-left e rigth*/
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto; /*Criar barra scroll quando necessário para uma parte específica do site*/
}

#bicicleta .bicicleta-lista ul{
  padding: 0px 0px 20px 0px;
}

.bicicleta-lista li{
  min-width: 280px;
}

.bicicleta-lista a{
  display: block;
}

.bicicleta-lista img{
  margin-bottom: 16px;
}

.bicicleta-lista h3{
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bicicleta-lista h3::before{
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: var(--cor-p1);
  transition: width 0.2s;
}

.bicicleta-lista a:hover h3::before{
  width: 24px;
}

.bicicleta-lista li span{
  padding-left: 20px;
}

@media (max-width: 800px){
  .bicicleta-lista{
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .bicicleta-lista ul{
    gap: 25px;
  }
}