.introducao-bg {
  background-color: var(--cor-12);
  color: var(--cor-0);
  box-shadow: inset 0 -120px var(--cor-0);
}

.introducao img{
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  box-sizing: border-box;  /*adiciona os demais espaços(padding ou margin) ao max-width*/
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;    /*margin-left e margin-right -> alinham os itens ao centro*/
  margin-right: auto;
  padding: 20px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao h1{
  margin-bottom: 32px;
}

.introducao p{
  margin-bottom: 20px;
  color: var(--cor-5);
}

.introducao h1 span{
  color: var(--cor-p1);
}

@media (max-width: 1200px){
  .introducao h1{
    font-size: 48px;
  }
  .introducao p{
    font-size: 20px;
  }
}
@media (max-width: 800px){
  .introducao-bg{
    background-color: var(--cor-11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(--cor-0);
  }

  .introducao{
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao-conteudo{
    padding-bottom: 0px;
  }

  .introducao img{
    height: 300px;
    width: 100%;
  }

  .introducao h1{
    font-size: 32px;
    margin-bottom: 16px;
  }

  .introducao p{
    font-size: 18px;
  }
}